
h1{
    color: blue;
    text-align: center;
}

img{
    width: 15%;
    height: 15%;
}

.personalInfo{
    margin-top: 10px;
    text-align: center;

}

.personInfo{
    padding-left: 15px;
    text-align: center;
}
.payementInfo{
    text-align: center;
    /* margin-top: 5%; */
    margin-bottom: 5%;
    padding-top: 20px;
}


.check{
    margin-top: 30px;
}
.subscribe {
    text-align: center;

}

.userName{
    margin-bottom: 10px;
    width: 20%;
    height: 35px;
    border-radius: 5px;
}
.email{
    margin-bottom: 10px;
    width: 20%;
    height: 35px;
   border-radius: 5px;

}

.bttn{
    /* background-color: rgb(86, 157, 238); */
    margin: 5px;
    border-radius: 5px;
    padding: 3px;
    /* color: white; */
}

footer{
    text-align: center;
    margin-top: 15%;
    padding: 25px;
    background-color: aquamarine;
}

.fa-brands{
    margin: 25px;
    padding: 5px;
}